{% extends 'polls/base.html' %}

{% block content %}

<div class="card-home">
    <div class="content">

        <h1 class="heading"> Use Lorem ipsum dolor?</h1>

        <p class="reg-text">
            Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit. Aenean commodo
            ligula eget dolor. Aenean massa. Cum sociis 
            natoque penatibus et magnis dis pconseq
        </p>

    </div>
    
    <div class="card-btm">
        
        <buttom class="btn-card" type="button">Ignore</buttom>
        <buttom class="btn-card" type="button">Agree</buttom>

    </div>


</div>




{% endblock %}